

    <div class="row">
        <div class="col-lg-10 offset-lg-1">
            <p>
                <a class="text-dark" asp-area="Admin" asp-controller="Dashboard" asp-action="Index">Dashboard</a> /
                Brands list
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-10 offset-lg-1 grid-margin stretch-card">
            <div class="card">
                <div class="card-header">
                    <button type="button" class="btn btn-primary btn-rounded btn-fw btn-sm" data-bs-toggle="modal" data-bs-target="#myModal">
                        Add new
                    </button>
                    <button type="button" class="btn btn-primary btn-danger btn-fw btn-sm">Delete</button>

                    <button id="showSearch" class="btn btn-warning btn-sm " style="float: right;" type="button"
                            data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false"
                            aria-controls="collapseExample">
                        <span id="iconSearch" class="icon-search"><span />
                    </button>
                </div>
                <div class="card-body">
                    <h4 class="card-title">Brands list</h4>
                    <div class="collapse" id="collapseExample">
                        <div class="card card-body">
                            <div class="row">
                                <div class="form-group col-lg-6">
                                    <label for="exampleInputUsername1">Brand name</label>
                                    <input type="text" class="form-control form-control-sm" id="Search"
                                           placeholder="Category name">
                                </div>
                                <div class="form-group col-lg-6">
                                    <label for="exampleInputEmail1">Status</label>
                                    @*<input type="email" class="form-control form-control-sm" id="statusSearch"
                                        placeholder="Status">*@
                                    <select class="form-select form-select-sm form-control form-control-sm"
                                            id="statusSearch" aria-label=".form-select-sm example">
                                        <option selected value="true">Activity</option>
                                        <option value="false">Inactive</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Brand name</th>
                                    <th>Status</th>
                                    <th>Operation</th>
                                </tr>
                            </thead>
                            <tbody id="list"></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal" id="myModal">
            <div class="modal-dialog">
                <div class="modal-content">

                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title">Add New Brand</h4>
                        <button type="button" class="btn btn-danger btn-rounded btn-sm" data-bs-dismiss="modal">
                            <span class="mdi mdi-close"></span>
                        </button>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body">
                        <form class="forms-sample">
                            <div class="form-group">
                                <label for="exampleInputUsername1">Brand Name</label>
                                <input type="text" class="form-control" id="BrandName" placeholder="Username">
                            </div>

                            <div class="form-group row no-gutters">
                                <label class="col-sm-12">Status</label>
                                <div class="col-sm-4">
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <input type="checkbox" class="form-check-input" name="membershipRadios"
                                                   id="Status" value="true" checked>
                                            Activity
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <button type="button" id="add-new" class="btn btn-primary mr-2 add-new btn-sm">Submit</button>
                        </form>
                    </div>

                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger btn-sm" data-bs-dismiss="modal">Close</button>
                    </div>

                </div>
            </div>
        </div>

        <div class="modal" id="myModal_Update">
            <div class="modal-dialog">
                <div class="modal-content">

                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title">Update Brand</h4>
                        <button type="button" class="btn btn-danger btn-rounded btn-sm" data-bs-dismiss="modal">
                            <span class="mdi mdi-close"></span>
                        </button>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body">
                        <form class="forms-sample">
                            <div class="form-group">
                                <label for="exampleInputUsername1">Brand Name</label>
                                <input type="text" class="form-control" id="UpdateName" placeholder="Username">
                            </div>

                            <div class="form-group row no-gutters">
                                <label class="col-sm-12">Status</label>
                                <div class="col-sm-4">
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <input type="checkbox" class="form-check-input" name="membershipRadios"
                                                   id="UpdateStatus" value="true" checked>
                                            Activity
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <button type="button" id="update-data"
                                    class="btn btn-primary mr-2 update-data  btn-sm">
                                Submit
                            </button>
                        </form>
                    </div>

                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger btn-sm" data-bs-dismiss="modal">Close</button>
                    </div>

                </div>
            </div>
        </div>
    </div>


    @section Scripts{

        @*List*@
        <script>
            function listBrand() {
                var page = 1;
                $.ajax({
                    url: '/admin/Brand/getList',
                    type: 'GET',
                    success: function (res) {
                        console.log(res);
                        ShowHtml(res);
                    }
                });
            };

            listBrand();
        </script>

        @*Search*@
        <script>
            $('#Search').keyup(function () {
                var _searchName = $(this).val()
                if (_searchName == null || _searchName <= 0) {
                    listBrand();
                } else {
                    _status = $('#statusSearch').val()
                    $.ajax({
                        url: '/admin/Brand/getList?brandName=' + _searchName + '&status=' + _status,
                        type: 'GET',
                        success: function (res) {
                            //console.log(res);
                            ShowHtml(res);
                        }
                    });
                }
            });
        </script>

        @*Phân Trang*@
        <script>
            $("body").on("click", ".pagination li a", function () {
                var _page = $(this).attr("data-id");
                var _searchName = $('input#Search').val();
                console.log(_searchName);
                console.log(_page);
                if (_searchName == null || _searchName <= 0) {
                    _status = $('#statusSearch').val()
                    $.ajax({
                        url: '/admin/Brand/getList?page=' + _page,
                        type: 'GET',
                        success: function (res) {
                            //console.log(res);
                            ShowHtml(res);
                        }
                    });
                } else {
                    _status = $('#statusSearch').val()
                    $.ajax({
                        url: '/admin/Brand/getList?brandName=' + _searchName + '&status=' + _status + '&page=' + _page,
                        type: 'GET',
                        success: function (res) {
                            //console.log(res);
                            ShowHtml(res);
                        }
                    });
                }
            });
        </script>

        <script>
            function ShowHtml(res) {
                var html = '';
                if (res.data.length > 0) {
                    for (let i = 0; i < res.data.length; i++) {
                        var data = res.data[i];
                        var _status = data.status ? '<label class="badge badge-success">Activity</label>' : '<label class="badge badge-danger">Inactive</label>';
                        html += '<tr>';
                        html += '<td>' + '<div><input type="checkbox" value="' + data.idBrand + '" id="defaultCheck1"></div>' + '</td>';
                        html += '<td>' + data.brandName + '</td>';
                        html += '<td>' + _status + '</td>';
                        html += '<td>';
                        html += '<button type="button" data-id="' + data.idBrand + '" class="btn btn-success btn-rounded btn-sm edit"><span class="mdi mdi-tooltip-edit"></span></button>';
                        html += '<button type="button" data-id="' + data.idBrand + '"  class="btn btn-danger btn-rounded btn-sm delete"><span class="mdi mdi-delete-forever"></span></button>';
                        html += '</td>';
                        html += '</tr>';
                    };
                    if (res.size > 1) {
                        html += '<tr>';
                        html += '<td colspan="4" style="padding: 10px 0px;"><ul class="pagination" style="margin:0px 0px">';
                        res.pageCurrent > 1 ? html += '<li class="page-item page"><a class="page-link" data-id="' + (res.pageCurrent - 1) + '"><i class="mdi mdi-chevron-left"></i></a></li>' : '';
                        for (let i = 0; i < res.size; i++) {
                            html += '<li class="page-item ' + ((i + 1) == res.pageCurrent ? 'active' : '') + '"><a class="page-link" data-id="' + (i + 1) + '">' + (i + 1) + '</a></li>';
                        }
                        res.pageCurrent < res.size ? html += '<li class="page-item page"><a class="page-link" data-id="' + (res.pageCurrent + 1) + '"><i class="mdi mdi-chevron-right"></i></a></li>' : '';
                        html += '</ul></td >';
                        html += '</tr>';
                    }
                } else {
                    html += '<tr>';
                    html += '<td colspan="4"><div style="text-align: center;"><h3 class="card-title text-primary">No records found</h3></div></td>';
                    html += '</tr>';
                };
                $('#list').html(html);
            }
        </script>

        @*//New Add*@
        <script>
            $(document).ready(function () {

                $('.add-new').click(function () {
                    var _name = $('input#BrandName').val();
                    var _status = $('input#Status').change().val();
                    var _model = {
                        idBrand: "",
                        brandName: _name,
                        Status: _status
                    };

                    console.log(_model);

                    $.ajax({
                        url: '/admin/Brand/Create',
                        type: 'POST',
                        data: _model,
                        success: function (res) {
                            console.log(res);
                            $('#myModal').modal('hide');
                            Remove();
                            listBrand();
                        },
                        error: function (req) {
                            console.log(res);
                        }
                    });
                });
            });
        </script>

        @*Remove Form*@
        <script>
            function Remove() {
                $('input#BrandName').val('');
                $('input#Status').val(true);
            }
            Remove();
        </script>

        @*//Delete*@
        <script>
            $(document).on('click', '.delete', function () {
                var $_this = $(this);
                var id = $(this).data('id');
                $.ajax({
                    url: '/admin/Brand/Delete?idBrand=' + id,
                    type: 'DELETE',
                    success: function (res) {
                        listBrand();
                    },
                    error: function (res) {
                        console.log(res);
                    }
                });
            })
        </script>

        @*Update*@
        <script>
            $(document).on('click', '.edit', function () {
                var $_this = $(this);
                var id = $(this).data('id');
                $.ajax({
                    url: '/admin/Brand/GetBrand?idBrand=' + id,
                    type: 'GET',

                    success: function (res) {
                        $('input#UpdateName').val(res.data.brandName);
                        $('input#UpdateStatus').val(res.data.status);
                        $('#myModal_Update').modal('show');

                        $('.update-data').click(function () {
                            var _name = $('input#UpdateName').val();
                            var status = $('input#UpdateStatus').val();
                            var _data = { idBrand: res.data.idBrand, brandName: _name, status: status };

                            //console.log(_data);

                            $.ajax({
                                url: '/admin/Brand/UpdateBrand?idBrand=' + res.data.idBrand,
                                type: 'PUT',
                                data: _data,
                                success: function (res) {
                                    //console.log(res);
                                    $('#myModal_Update').modal('hide');
                                    listBrand();
                                },
                                error: function (req) {
                                    console.log(req);
                                }
                            });
                        });
                    }
                });
            });
        </script>

    }
