


<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" href="/admin/dashboard">
                <i class="icon-grid menu-icon"></i>
                <span class="menu-title">Dashboard</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/admin/category">
                <i class="icon-layout menu-icon"></i>
                <span class="menu-title">Categorys</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/admin/brand">
                <i class="icon-columns menu-icon"></i>
                <span class="menu-title">Brands</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/admin/Goldk">
                <i class="icon-bar-graph menu-icon"></i>
                <span class="menu-title">Goldk</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/admin/Certify">
                <i class="icon-grid-2 menu-icon"></i>
                <span class="menu-title">Certify</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/admin/Product">
                <i class="icon-grid-2 menu-icon"></i>
                <span class="menu-title">Product</span>
            </a>
        </li>
    </ul>
</nav>